body,div,p,span,a{
    padding: 0;
    margin: 0;
}

body{
    background: #7c5;
    color: #7c5;
    font-family: Microsoft YaHei;
}

.container{
    width:450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12%;
    padding: 40px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #FFF;

}

#passages{
    overflow: hidden;
}

.text{
    padding: 0 30px 0 30px;
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
}

.text i{
    font-size: 1.2em;
    margin-right: 10px;
}

.film{
    margin-top: 10px;
    float: right;
}

.buttons{
    margin-top: 40px;
    clear: both;
}

.buttons div{
    float: right;
}

.button{
    width: 80px;
    height: 30px;
    padding: 10px 13px 10px 13px;
    border-radius: 3px;
    background: #77cc55;
    text-decoration: none;
    color: #fff;
}

.next a{
    padding: 10px 25px 10px 25px;
}

.footer{
    width: 110px;
    margin: 20px auto;
    color: #fff;
    font-size: 12px;
}

